.restaurant-details-container {
  display: flex;
  flex-direction: column;
}
.restaurant-banner-container {
  background-color: #333333;
  height: 280px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.restaurant-banner-image {
  width: 150px;
  height: 280px;
  margin-right: 10px;
}
.restaurant-info {
  display: flex;
  flex-direction: column;
}
.restaurant-banner-name {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}
.restaurant-banner-cuisine {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
}
.restaurant-info-rating-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150px;
  line-height: 0px;
}

.rating-main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.rating-main-sub-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-left: 2px solid #ffffff;
  padding-left: 5px;
}
.rating-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  line-height: 0;
}
.restaurant-info-rating {
  font-family: 'DM Sans';
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
  margin-left: 3px;
}
.restaurant-reviews-count {
  font-family: 'DM Sans';
  font-size: 12px;
  font-weight: 300;
  color: #ffffff;
  line-height: 4px;
}

.restaurant-items-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.restaurant-items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .restaurant-items-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  .restaurant-items-list {
    width: 700px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    flex-wrap: wrap;
  }
  .restaurant-banner-container {
    height: 350px;
    justify-content: center;
  }
  .restaurant-banner-image {
    width: 445px;
    height: 280px;
    border-radius: 8px;
  }
  .restaurant-banner-name {
    font-size: 36px;
  }
  .restaurant-banner-cuisine {
    font-size: 16px;
  }
  .restaurant-info-rating-container {
    width: 200px;
  }

  .restaurant-info-rating {
    font-size: 16px;
  }
  .restaurant-reviews-count {
    font-size: 16px;
  }
}
